.field-name-field-story-callout {
  $callout-display-large: $display-large + 100px;

  @include fit-display-width;
  background: $callout-background-color;
  color: $callout-color;
  font-family: $serif;

  .content {
    display: flex;
    flex-flow: column;

    @include breakpoint($callout-display-large) {
      display: grid;
      grid-column-gap: 5em;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      padding: 2em;
    }
  }

  .field-name-field-photo {
    order: 1;

    @include breakpoint($callout-display-large) {
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
  }

  .field-name-field-title {
    font-size: 250%;
    line-height: 1.5;
    order: 2;

    @include breakpoint($display-medium) {
      margin-left: 4rem;
    }

    @include breakpoint($callout-display-large) {
      align-self: end;
      grid-column: 2 / 3;
      margin: 0;
    }

    @include breakpoint($display-xlarge + 400px) {
      font-size: 300%;
    }

    &::after {
      background-color: $wwu-blue;
      content: '';
      display: block;
      height: 1px;
      margin: .3em 0;
      width: 100 / 3 * 1%;
    }
  }

  .field-name-field-long-text {
    font-size: 150%;
    line-height: 1.5;
    margin: 0 0 1em;
    order: 3;

    @include breakpoint($display-medium) {
      margin-left: 4rem;
    }

    @include breakpoint($callout-display-large) {
      align-self: start;
      grid-column: 2 / 3;
      margin: 0;
    }

    @include breakpoint($display-xlarge + 50px) {
      font-size: 175%;
    }
  }

  .field-name-field-link {
    font-family: $sans-serif;
    font-size: 150%;
    margin: 10px 0 30px;
    order: 4;
    text-align: right;
    text-transform: uppercase;

    @include breakpoint($callout-display-large) {
      align-self: end;
      grid-column: 2 / 3;
    }

    a:hover,
    a:focus {
      color: $wwu-light-blue;
      text-decoration: none;
    }

    a::after {
      color: $wwu-light-blue;
      content: '\00BB';
      font-size: 130%;
      margin: 0 0 0 .5em;
    }
  }
}
