.field-name-field-image-bar {
  clear: both;

  @include breakpoint($max-content-width + 200px) {
    margin-left: -5em;
    margin-right: -5em;
  }

  .field-items {
    display: flex;
    flex-shrink: 1;
  }

  .field-item {
    width: calc(100% / 3);

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .field-item:not(:last-child) {
    margin-right: 1em;
  }
}
