#mini-panel-viking_facts {
  $zen-column-count: 12;
  $max-content-width-offset-breakpoint: 350px;

  @include zen-grid-container;
  @include clearfix;

  @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
    margin: 3em 0;
  }

  .panel-col > div {
    @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
      align-items: center;
      display: flex;
    }
  }

  .pane-viking-picture {
    @include clearfix;
    box-sizing: border-box;
    height: 30vw;
    position: relative;

    @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
      @include zen-grid-item(4, 1);
      height: auto;
      padding: 0 1em 0 0;

      &::after {
        background-color: $wwu-blue;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 50px;
      }
    }

    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -30%);
      width: 100%;

      @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
        float: left;
        position: static;
        transform: unset;
      }
    }
  }

  .pane-we-are-vikings-panel-pane-1 {
    @include clearfix;
    box-sizing: border-box;
    padding: 2em;

    @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
      @include zen-grid-item(5, 5);
      padding: 0;
    }

    .pane-title {
      color: #000;
      font-size: 300%;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      text-align: left;

      span {
        color: $wwu-blue;
        display: block;
        font-size: 150%;
        font-style: italic;
        font-weight: 600;
        line-height: 1;
        text-align: left;
      }
    }
  }

  .pane-viking-stats {
    @include clearfix;
    box-sizing: border-box;
    line-height: 0;
    padding: 0 0 0 1em;

    @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
      @include zen-grid-item(3, 10);
    }

    * {
      margin: 0;
    }

    img {
      @include breakpoint($max-content-width + $max-content-width-offset-breakpoint) {
        float: right;
      }
    }
  }
}
