$main-horizontal-padding: 16px;
$main-horizontal-padding-display-large: 2 * $main-horizontal-padding;

main {
  margin: 0 0 3em;
  padding: 1em $main-horizontal-padding 0;

  @include breakpoint($display-large) {
    padding: 2em $main-horizontal-padding-display-large;
  }

  .page-title {
    border: 0;
    margin: 0 0 3 * $main-horizontal-padding;

    h1 {
      font-size: 250%;
      font-weight: bold;
      letter-spacing: .05ex;
      margin: 0;
    }

    &::after {
      background: $wwu-blue;
      content: '';
      display: block;
      height: 3px;
      width: calc(100% / 3);
    }
  }
}

.front main {
  padding-left: 0;
  padding-right: 0;
}

.no-logo main {
  padding-top: 4em;
}
