footer {
  background: $wwu-ocean-blue url('../images/footer.jpg') center / cover no-repeat;
  border: 0;
  padding-bottom: 0;
}

.footer-wrapper {
  background: rgba(0, 112, 182, .95);
  font-family: $sans-serif;
  font-weight: 200;
  max-width: none;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    color: #fff;
  }

  h4 {
    color: #fff;
    font-size: 1.4em;
    margin: 0;
  }

  h5 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.25em;
    margin: 0 0 30px;
  }
}

.footer-center {
  box-sizing: border-box;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 80%;

  .tagline {
    font-size: 1.2em;
    font-style: italic;
  }
}

.footer-bottom-bar {
  background: $wwu-blue;
  box-sizing: border-box;
  font-size: .75em;
  padding: 7px;
  width: 100%;

  p {
    margin: 0;
  }
}

.western-social-media {
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;

    @include breakpoint($display-large) {
      padding: 0 200px;
    }
  }

  li {
    display: inline-block;
    list-style: none;
  }

  img {
    max-width: none;
    width: 48px;
  }
}

footer a:hover, footer a:focus, footer a:active {
	color: #ffffff !important;}

.footer-header {
	color: #fff;
    font-size: 1.4em;
    margin: 0;
	font-family: "Open Sans",sans-serif;
    line-height: 1.5;
	font-weight: normal;
	display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	word-wrap: break-word;
}