.western-header {
  @include breakpoint($display-large) {
    background-color: #fff;
    height: 112px;
    z-index: 0;

    .western-logo {
      float: none;
      width: 95%;
      max-width: 1140px;
      top: 0px;
      margin-left: 50%;
      transform: translatex(-50%);
    }

    .western-quick-links {
      float: none;
      position: absolute;
      right: 40px;
    }

    .western-search {
      float: none;
      position: absolute;
      right: 0;
      top: 0;

      .western-search-widget {
        @include breakpoint($display-large) {
          top: 112px;
          box-shadow: none;
        }
      }
    }
  }

  nav {
    @include breakpoint($display-large) {
      background: #fff;
      margin: auto;
      max-width: 1140px;
      position: relative;
    }
  }

  .western-logo a {
    background-position: center;
    height: 138px;

    @include breakpoint($display-large) {
      background: transparent url('../images/alumni-logo.svg') top left no-repeat;
      height: 149px;
      width: 149px;
    }
  }

  .center-content {
    nav {
      z-index: 2;
    }
  }
}

@media (max-width: 800px){
.western-header .western-logo a {
    background: url(../images/Logo-Alumni-Horizontal-white.svg) no-repeat;
	background-position: center;
	background-color: #003f87;
    background-size: 270px;
    margin-bottom: .375em;
}
}

.site-header {
  @include breakpoint($display-large) {
    float: none;
    margin-top: 118px;
  }

  .site-banner {
    @include breakpoint($display-large) {
      height: 0;
      overflow: hidden;
      padding-bottom: 500px;
      position: relative;
		
		.home-banner {
		background: transparent url('http://alumni.wwu.edu/files/Events-2019/homepage-desktop-paint.jpg') center top no-repeat;
				img {
					width: 100% !important; 
					display: block;
					margin-left: auto;
    				margin-right: auto;
					padding-top: 0px;
					left: 0;
      				position: relative;
      				top: 0;
		}
		
    }
		
		
		.foundation-home-banner {
		background: transparent url('http://www.wwu.edu/alumni/img/homepage-makewaves.jpg') center top / cover no-repeat;
				img {
					width: 100% !important; 
					display: block;
					margin-left: auto;
    				margin-right: auto;
					padding-top: 240px;
					left: 0;
      				position: relative;
      				top: 0;
		}
		
    }
		
		.alumni-home-banner {
		background: transparent url('https://alumni.wwu.edu/files/Events-2018/homepage.jpg') center top / cover no-repeat;
				img {
					width: 100% !important; 
					display: block;
					margin-left: auto;
    				margin-right: auto;
					padding-top: 240px;
					left: 0;
      				position: relative;
      				top: 0;
		}
		
    }

    }
	  
	  
	
    img {
      left: 0;
      position: absolute;
      top: 0;
    }

    iframe {
      @include absolute-align-y;
      height: 9 / 16 * 100vw;
      width: 100%;
    }
  }

  .site-name {
    display: none;
  }
}

header {
  @include breakpoint($display-medium) {
    position: relative;
  }
}

.header-wrap {
  z-index: 3;
  @include breakpoint($display-large) {
    padding: 0 0 40px 0;
    background: transparent;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 6px solid #0083d6;
  }

  .main-menu-wrap {
    @include breakpoint($display-large) {
      background: #fff;
      border: 0;
      box-sizing: initial;
      margin: 48px 0 0 0;
      max-height: 100%;
      overflow: visible;
      padding: 0;
    }
  }
}

#skip-link a, #skip-link a:visited {
    background-color: #003f87 !important;
}