.main-nav {
  $transition-time-on: .1s;
  $transition-time-off: .8s;
  $western-header-height: 46px;
  $nested-menu-arrow-height: .8ex;

  @include breakpoint($display-large) {
    float: none;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0;
  }

  .menu {
    @include breakpoint($display-large) {
      box-sizing: border-box;
      padding-left: 240px;
      padding-right: 240px;

      @include breakpoint(max-width $max-content-width) {
        padding-left: 200px;
        padding-right: 80px;
      }
    }

    .menu__item {
      @include breakpoint($display-large) {
        background: #fff;
        border: 0;
        padding: 0;
        position: relative;

        .active {
          background-color: #fff;
        }
      }

      &:hover,
      &:focus {
        @include breakpoint($display-large) {
          background: transparent;
        }
      }
    }

    // donate button style override
    .menu__item.menu-mlid-899 a {
      @include breakpoint($display-large) {
        padding-bottom: 32px;
        background-color: #bad80a;
      }

        &:hover, &:focus {
        background-color: $wwu-blue;
      }
    }

    .menu__link {
      @include breakpoint($display-large) {
        color: $wwu-blue;
        font-family: $sans-serif;
        font-weight: $bold;
        padding: .5em 0;
      }
    }

    .menu__link,
    .active .menu__link.active {
      transition: $transition-time-on;

      &:hover,
      &:focus {
        @include breakpoint($display-large) {
          background: $wwu-blue;
          color: #fff;
        }
      }
    }

    .wwu-dropdown-opened {
      .menu__link,
      .menu__link.active {
        background: $wwu-blue;
        color: #fff;
      }
    }

    .wwu-dropdown-opening {
      .menu__link,
      &.active .menu__link {
        transition: $transition-time-on;
      }
    }

    .wwu-dropdown-closing {
      .menu__link,
      &.active .menu__link {
        transition: $transition-time-off;
      }
    }

    .expanded > .menu__link::after {
      @include breakpoint($display-large) {
        @include transform(rotate(90deg));
        color: #e9e9e9;
        content: '\203A';
        display: block;
        font-size: 150%;
        line-height: 1;
      }
    }

    .expanded > .menu__link.active::after {
      color: #e9e9e9;
    }
  }

  .menu .menu {
    @include breakpoint($display-large) {
      background: $wwu-blue;
      font-size: 90%;
      left: -3em;
      min-width: 20em;
      padding: 0 3em;
      padding-bottom: 1.5em;
      position: absolute;
      text-align: left;
      top: 100%;
      width: auto;
      z-index: 1;
    }

    .menu__item {
      @include breakpoint($display-large) {
        background: $wwu-blue;
        border-bottom: 1px solid $wwu-blue-lighter;
        display: block;
        font-weight: normal;
        text-transform: none;
      }
    }

    .menu__item:last-child {
      @include breakpoint($display-large) {
        border-bottom: 0;
      }
    }

    .menu__link,
    .active .menu__link.active {
      @include breakpoint($display-large) {
        color: #fff;
        display: block;
        font-weight: $normal;
        padding: .65em;
        text-align: left;
        white-space: nowrap;
        word-wrap: normal;
      }

      &:hover,
      &:focus {
        @include breakpoint($display-large) {
          background: #fff;
          color: $wwu-blue;
        }
      }
    }

    .expanded > .menu__link {
      padding-right: 2em;
    }

    .expanded > .menu__link::after {
      @include transform(translateY(-50%));
      bottom: 0;
      display: table;
      font-weight: bold;
      height: $nested-menu-arrow-height;
      line-height: $nested-menu-arrow-height;
      position: absolute;
      right: .5em;
      top: 50%;
      vertical-align: middle;
    }
  }

  .menu .menu .menu {
    @include breakpoint($display-large) {
      left: 100%;
      top: 0;
    }
  }
}
