main {
  padding: 0;

  .page-title {
    padding: 0;
  }
}

.front main {
  margin: 0;
  padding: 0;

  .center-content {
    @include breakpoint($display-large) {
      @include center-content(100%);
    }
  }
}
