.deb-intro {	
  display: flex;
  flex-direction: column;
	
  .deb-photo {
    padding: 5px;
    margin-top: 20px;
    }

  .deb-quote {
    padding: 5px;
    margin-top: 20px;
    }	
	
    @include breakpoint($display-large) {
		
      display: flex;
      flex-flow: row wrap;
	  justify-content: space-around;

    .deb-photo {
      flex-basis: 35%;
      margin-top: 10px;
    }
	
    .deb-quote {
      flex-basis: 60%;
      margin-top: 100px;
    }
  }
}

.alumni-contact {	
  display: flex;
  flex-direction: column;
	
  .physical-address {
    padding: 5px;
    margin: 0px 0px 30px 0px;
	text-align: center;
    }

  .mailing-address {
    padding: 5px;
    margin: 0px 0px 30px 0px;
	text-align: center;
    }	
	
  .phone-etc {
    padding: 5px;
    margin: 0px 0px 30px 0px;
	text-align: center;
    }	
	
    @include breakpoint($display-large) {
		
      display: flex;
      flex-flow: row wrap;
	  justify-content: space-around;

    .physical-address {
      flex-basis: 30%;
    }
	
    .mailing-address {
      flex-basis: 30%;
    }
		
    .phone-etc {
      flex-basis: 30%;
    }
  }
}


