.view-actions {
	background-color: #003f87;
  margin: 0;

  .view-content {
    max-width: 100%;
  }

  .views-column {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .views-row {
    display: block;
    overflow: hidden;
    width: 100%;

    @include breakpoint($display-xlarge + 110px) {
      width: calc(100% / 3);
    }
  }
}
