.view-all-events {

  .views-row {
    clear: both;
  }

  .views-field-title {
    padding-top: 1em;
  }

  .views-field-body {
    margin-bottom: 1em;
    margin-left: 320px;
  }

  .views-field-body img {
    display: none;
  }

  .views-field-field-date {
    margin-left: 320px;
    padding: 10px;
  }

  .date-display-single {
    font-weight: bold;
  }

}
