// Adjusts z-index of readmore link of view
.view-featured-alumni-star .views-field-nothing.in-view {
  position: relative;
  z-index: 2;
}


.pane-alumni-stars-panel-pane-1 {
  .pane-title {
    @include center-content($max-content-width);
    margin-bottom: 1em;
    margin-top: 1.75em;
    padding: 0 1em;
    text-align: left;
  }
}

.view-alumni-stars {
  background: transparent url('../images/alumni-stars-background.svg') center 88% / 100% no-repeat;
  overflow: hidden;
  padding: 0 2em;
  position: relative;
  z-index: 1;

  @include breakpoint($display-medium) {
    background-position-y: center;
    margin: 0 0 -15%;
  }

  /* Things sliding from left */
  .view-header {
    opacity: 0;
    -webkit-transition: all $animation-timing-slower linear;
    -o-transition: all $animation-timing-slower linear;
    transition: all $animation-timing-slower linear;
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  .view-header.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  .view-header {
    @include center-content($max-content-width);
    box-sizing: border-box;

    @include breakpoint($display-small) {
      margin-bottom: 1.5em;
    }

    @include breakpoint($display-medium) {
      padding-right: 300px;
    }

    @include breakpoint($display-large) {
      padding-right: 420px;
    }
  }

  .view-content {
    height: 70vw;
    position: relative;

    @include breakpoint($display-medium) {
      margin-bottom: 15%;
      margin-top: -8em;
    }

    @include breakpoint($max-content-width) {
      height: 800px;
    }
  }

  .views-row {
    display: table;
    position: absolute;
    -moz-transition: all $animation-timing-slower linear;
    -webkit-transition: all $animation-timing-slower linear;
    -o-transition: all $animation-timing-slower linear;
    transition: all $animation-timing-slower linear;
    transform: translate(-50%, -50%) scale(0);

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: solid transparent 4px;
      box-sizing: border-box;
      -moz-transition: all $animation-timing linear;
      -webkit-transition: all $animation-timing linear;
      -o-transition: all $animation-timing linear;
      transition: all $animation-timing linear;
    }

    a:hover > img,
    a:focus > img {
      border-color: $wwu-yellow;
    }
  }

  .views-row.in-view {
    transform: translate(-50%, -50%) scale(1);
  }

  .views-row-1 {
    height: 25vw;
    left: 50%;
    top: 43%;
    width: 25vw;

    @include breakpoint($max-content-width) {
      height: 288px;
      width: 288px;
    }
  }

  .views-row-2 {
    height: 18vw;
    left: 76%;
    top: 19%;
    width: 18vw;

    @include breakpoint($max-content-width) {
      height: 200px;
      width: 200px;
    }
  }

  .views-row-3 {
    height: 15.5vw;
    left: 14%;
    top: 42%;
    width: 15.5vw;

    @include breakpoint($max-content-width) {
      height: 176px;
      width: 176px;
    }
  }

  .views-row-4 {
    height: 13.5vw;
    left: 28%;
    top: 59%;
    width: 13.5vw;

    @include breakpoint($max-content-width) {
      height: 153px;
      width: 153px;
    }
  }

  .views-row-5 {
    height: 24vw;
    left: 80%;
    top: 52%;
    width: 24vw;

    @include breakpoint($max-content-width) {
      height: 277px;
      width: 277px;
    }
  }

  .views-row-6 {
    height: 12.2vw;
    left: 94%;
    top: 23%;
    width: 12.2vw;

    @include breakpoint($max-content-width) {
      height: 140px;
      width: 140px;
    }
  }

  .views-row-7 {
    height: 18vw;
    left: 9%;
    top: 72%;
    width: 18vw;

    @include breakpoint($max-content-width) {
      height: 200px;
      width: 200px;
    }
  }

  .views-row-8 {
    height: 13.5vw;
    left: 61%;
    top: 74%;
    width: 13.5vw;

    @include breakpoint($max-content-width) {
      height: 150px;
      width: 150px;
    }
  }

  .views-field-photo {
    line-height: 0;
  }
}
