.view-events {
  .view-content {
    max-width: 100%;
  }

  .views-column {
    display: flex;
    flex-flow: row wrap;
  }

  .views-row {
    @include breakpoint($display-medium + 50px) {
      flex-basis: calc(100% / 2);
    }

    @include breakpoint($display-xlarge + 100px) {
      flex-basis: calc(100% / 3);
    }
  }

  img {
    display: block;
  }
}
