.view-featured-alumni-star,
.view-featured-foundation-achiever {
  /* background: transparent url('../images/featured-alumni-star-background.png') center / cover no-repeat;*/
  margin-top: -2em;

  .views-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .views-field-field-featured-image,
  .views-field-field-achiever-featured-image {
    align-self: flex-end;
    display: none;
    line-height: 0;

    @include breakpoint($display-medium + 100px) {
      display: block;
      width: 50%;
    }
  }

  .views-field-nothing {
    box-sizing: border-box;
    margin-top: 6em;
    padding: 0 2em 2em;

    /* animation initial state */
    opacity: 0;
    -webkit-transition: all $animation-timing-slower linear;
    -o-transition: all $animation-timing-slower linear;
    transition: all $animation-timing-slower linear;
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);

    @include breakpoint($display-medium + 100px) {
      width: 50%;
    }
  }

  /* Animation final state */
  .views-field-nothing.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  .views-field-title {
    font-family: $sans-serif;
    font-size: 200%;
    font-weight: 700;
    text-transform: uppercase;
  }

  .views-field-body {
    margin: 0 0 1.5em;
  }

}

.view-featured-foundation-achiever {
  background: none;
}
