.pane-foundation-achievers-panel-pane-1 {
  background: transparent url('../images/foundation-achievers-background.svg') center 88% / 100% no-repeat;
  padding-top: 3.75em;
  margin: 1em;

  .pane-title {
    @include center-content($max-content-width);
    margin: 0 auto 1em;
    text-align: left;
  }
}

.view-foundation-achievers {
  overflow: hidden;
  padding: 0 2em;
  position: relative;
  z-index: 1;

  @include breakpoint($display-medium) {
    background-position-y: center;
    margin: 0 0 -15%;
  }

  /* Things sliding from left */
  .view-header {
    opacity: 0;
    -webkit-transition: all $animation-timing-slower linear;
    -o-transition: all $animation-timing-slower linear;
    transition: all $animation-timing-slower linear;
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  .view-header.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  .view-header {
    @include center-content($max-content-width);
    box-sizing: border-box;
    margin-bottom: 1.5em;

    @include breakpoint($display-medium) {
      padding-right: 300px;
    }

    @include breakpoint($display-large) {
      padding-right: 420px;
    }
  }

  .view-content {
    height: 70vw;
    position: relative;

    @include breakpoint($display-medium) {
      margin-bottom: 15%;
      margin-top: -8em;
    }

    @include breakpoint($max-content-width) {
      height: 800px;
    }
  }

  .views-row {
    display: table;
    position: absolute;
    -moz-transition: all $animation-timing-slower linear;
    -webkit-transition: all $animation-timing-slower linear;
    -o-transition: all $animation-timing-slower linear;
    transition: all $animation-timing-slower linear;
    transform: translate(-50%, -50%) scale(0);
  }

  .views-row.in-view {
    transform: translate(-50%, -50%) scale(1);
  }

  .views-field-title {
    position: absolute;
    top: 0;
  }

  .views-field-title {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s ease;
  }

  .views-field-title a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparentize($wwu-blue, .1);
    opacity: 0;
    -moz-transition: all $animation-timing linear;
    -webkit-transition: all $animation-timing linear;
    -o-transition: all $animation-timing linear;
    transition: all $animation-timing linear;

    div {
      border-radius: 50%;
      margin-top: 50%;
      transform: translatey(-50%);
    }

    &:hover, &:focus {
      font-weight: normal;
      opacity: 1;
    }
  }

  .views-row-1 {
    left: 50%;
    top: 43%;
  }

  .views-row-1, .views-row-1 .views-field-title {
    height: 25vw;
    width: 25vw;
    font-size: 130%;

    @include breakpoint($max-content-width) {
      height: 288px;
      width: 288px;
    }
  }

  .views-row-2 {
    left: 76%;
    top: 19%;
  }

  .views-row-2, .views-row-2 .views-field-title {
    height: 18vw;
    width: 18vw;
    font-size: 120%;

    @include breakpoint($max-content-width) {
      height: 200px;
      width: 200px;
    }
  }

  .views-row-3 {
    left: 14%;
    top: 42%;
  }

  .views-row-3, .views-row-3 .views-field-title {
    height: 15.5vw;
    width: 15.5vw;
    font-size: 90%;

    @include breakpoint($max-content-width) {
      height: 176px;
      width: 176px;
      font-size: 115%;
    }
  }

  .views-row-4 {
    left: 28%;
    top: 59%;
  }

  .views-row-4, .views-row-4 .views-field-title {
    height: 13.5vw;
    width: 13.5vw;
    font-size: 80%;

    @include breakpoint($display-large) {
      font-size: 100%;
    }

    @include breakpoint($max-content-width) {
      height: 153px;
      width: 153px;
    }
  }

  .views-row-5 {
    left: 80%;
    top: 52%;
  }

  .views-row-5, .views-row-5 .views-field-title {
    height: 24vw;
    width: 24vw;
    font-size: 120%;

    @include breakpoint($max-content-width) {
      height: 277px;
      width: 277px;
      font-size: 140%;
    }
  }

  .views-row-6 {
    left: 94%;
    top: 23%;
  }

  .views-row-6, .views-row-6 .views-field-title {
    height: 12.2vw;
    width: 12.2vw;
    font-size: 70%;

    @include breakpoint($display-large) {
      font-size: 90%;
    }

    @include breakpoint($max-content-width) {
      height: 140px;
      width: 140px;
    }
  }

  .views-row-7 {
    left: 9%;
    top: 72%;
  }

  .views-row-7, .views-row-7 .views-field-title {
    height: 18vw;
    width: 18vw;
    font-size: 100%;

    @include breakpoint($max-content-width) {
      height: 200px;
      width: 200px;
      font-size: 110%;
    }
  }

  .views-row-8 {
    left: 61%;
    top: 74%;
  }

  .views-row-8, .views-row-8 .views-field-title {
    height: 13.5vw;
    width: 13.5vw;
    font-size: 90%;

    @include breakpoint($display-large) {
      font-size: 110%;
    }

    @include breakpoint($max-content-width) {
      height: 150px;
      width: 150px;
    }
  }

  .views-row-9 {
    top: 84%;
    left: 40%;
  }

  .views-row-9, .views-row-9 .views-field-title {
    height: 22.5vw;
    width: 22.5vw;
    font-size: 130%;

    @include breakpoint($max-content-width) {
      height: 235px;
      width: 235px;
    }
  }

  .views-field-photo {
    line-height: 0;
  }

  .views-row-10 {
    top: 87%;
    left: 78%;
  }

  .views-row-10, .views-row-10 .views-field-title {
    height: 17.5vw;
    width: 17.5vw;
    font-size: 120%;

    @include breakpoint($max-content-width) {
      height: 195px;
      width: 195px;
    }
  }

  .views-field-photo {
    line-height: 0;
  }

  .views-row-11 {
    top: 30%;
    left: 29%;
  }

  .views-row-11, .views-row-11 .views-field-title {
    height: 11.5vw;
    width: 11.5vw;
    font-size: 80%;

    @include breakpoint($display-large) {
      font-size: 110%;
    }

    @include breakpoint($max-content-width) {
      height: 165px;
      width: 165px;
    }
  }

  .views-field-photo {
    line-height: 0;
  }
}
