.view-display-id-graduation_announcements_view {
  $views-row-padding: 2em;

  @include clearfix;
  padding-bottom: $views-row-padding;
  text-align: center;

  .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .views-row {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: $views-row-padding;
    width: 100%;
	min-height: 460px;

    @include breakpoint($display-medium) {
      width: 100 / 2 * 1%;
    }

  }

  .views-field-title {
    font-size: 20px;
    font-weight: normal;
	line-height: 1.5;
    margin: .25em 0 .25em 0;
    text-transform: none;
	color: #003f87;
  }

  .views-field-field-image {
    line-height: 0;

    .field-content {
      @include circular-image-container;
      margin: 0 auto;
    }
  }
	
}


