.view-id-insurance {
  $views-row-padding: 2em;

  @include clearfix;
  padding-bottom: $views-row-padding;
  text-align: left;

  .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .view-content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
  }

  .views-row {
    box-sizing: border-box;
    padding: $views-row-padding;
    width: 100%;

    @include breakpoint($display-medium) {
      width: 100 / 2 * 1%;
    }

    @include breakpoint($display-large) {
      width: 100 / 3 * 1%;
    }
  }

  .views-field-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    margin: .25em 0;
    text-align: center;
    text-transform: none;
  }

  .views-field-field-image {
    line-height: 0;

    .field-content {
      margin: 0 auto;
      text-align: center;
    }
  }

  .views-field-body {
    font-style: italic;
    text-align: center;
  }
}
