.view-news {
  background: transparent url('../images/news-background.jpg') center / cover no-repeat;
  padding: 3em 1em;

  .view-content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    > .view-header,
    > .view-content {
      box-sizing: border-box;
      margin: 0;
      width: 100%;

      @include breakpoint($display-large) {
        width: calc(50% - 1.5em);
      }
    }
  }

  .views-column {
    @include breakpoint($display-xlarge) {
      display: flex;
      flex-flow: column wrap;
    }
  }

  .views-row {
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;

    /* animation setup */
    opacity: 0;
    -webkit-transition: all $animation-timing-slower ease-out;
    -o-transition: all $animation-timing-slower ease-out;
    transition: all $animation-timing-slower ease-out;
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .views-field-title,
    .views-field-body,
    .views-field-nothing {
      opacity: 0;
      -webkit-transition: all $animation-timing linear $animation-timing;
      -o-transition: all $animation-timing linear $animation-timing;
      transition: all $animation-timing linear $animation-timing;
    }

    @include breakpoint($display-small + 130px) {
      height: 200px;
      padding: 1em 1em 1em calc(200px + 1em);
    }
  }

  .views-row.in-view {
  /* bounce in from bottom */
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);

    .views-field-title,
    .views-field-body,
    .views-field-nothing {
      opacity: 1;
    }
  }

  /* slight delay for the first smaller box */
  .views-row.views-row-1.views-row-first {
    transition-delay: $animation-timing / 2;
  }
  /* but no delay for the bigger box */
  .view-header .views-row-1 {
    transition-delay: 0ms !important;
  }

  .view-header .views-row,
  .views-row:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .views-field-field-image,
  .views-field-field-image-alternate {
    line-height: 0;
    margin-bottom: 1em;
    overflow: hidden;

    @include breakpoint($display-small + 130px) {
      height: 200px;
      left: 0;
      position: absolute;
      top: 0;
      width: 200px;
    }

    img {
      height: auto;
      max-width: unset;
      width: 100%;

      @include breakpoint($display-large) {
        height: 100%;
        width: auto;
      }
    }
  }

  .views-field-title {
    margin: 0 1em 1em;

    @include breakpoint($display-small + 130px) {
      margin: 0 0 1em;
    }

    a {
      color: $wwu-blue;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .views-field-body {
    display: none;
    flex-grow: 1;
    margin: 0 0 1em;
    position: relative;

    @include breakpoint($display-medium) {
      display: flex;
    }

    .field-content {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .read-more-link {
    padding: 1em;

    @include breakpoint($display-small + 130px) {
      padding: 0;
    }

    .field-content {
      height: 100%;
    }
  }
}

.view-top-news {
  .view-content {
    margin: 0;
  }

  .views-row {
    @include breakpoint($display-large) {
      display: block;
      height: auto;
      max-height: initial;
      padding: calc(200px + 1em) 1em 1em;
    }
  }

  .views-field-field-image,
  .views-field-field-image-alternate {
    width: auto;
  }

  .views-field-field-image {
    display: none;

    @include breakpoint($display-small + 130px) {
      display: block;
      width: 100%;
    }

    .field-content {
      @include absolute-align-x;
    }
  }

  .views-field-body {
    @include breakpoint($display-large) {
      display: block;

      .field-content {
        position: static;
      }
    }
  }
}
