.view-personnel {
  .views-column {
    display: flex;
    flex-flow: row wrap;
  }

  .views-row {
    width: 100%;
	padding-top: 60px;

    @include breakpoint($display-medium + 110px) {
      flex-basis: calc(100% / 2);
    }

    @include breakpoint($display-large + 55px) {
      flex-basis: calc(100% / 3);
    }
  }
}
