.programs-benefits-home-page-pane,
.programs-benefits-interior-page-pane {
  $views-row-padding: 2em;

  position: relative;
  text-align: center;

  .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .view-content {
    display: flex;
    flex-flow: row wrap;
  }

  .views-row {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: $views-row-padding;
    width: 100%;

    @include breakpoint($display-medium) {
      flex-basis: calc(100% / 2);
    }
  }

  .views-field-title {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .views-field-field-image {
    line-height: 0;

    .field-content {
      @include circular-image-container;
      margin: 0 auto;
    }
  }
}

.programs-benefits-home-page-pane {
  padding-bottom: 2em;

  .views-row {
    @include breakpoint($display-large) {
      flex-basis: calc(100% / 3);
    }
  }
}

.programs-benefits-interior-page-pane {

  .views-row {
    @include breakpoint($display-large + 80px) {
      flex-basis: calc(100% / 4);
    }
  }

  .ajax-progress-throbber {
    display: none;
  }

  > .item-list {
    @include absolute-align-y;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    right: 0;
  }

  .pager {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .item-list {
    .pager li {
      display: block;
      padding: 0;

      a {
        @include hide-text;
        display: block;
        height: 3em;
        width: 3em;
      }
    }

    .pager .pager-current {
      display: none;
    }

    .pager-previous a {
      background: transparent url('../images/arrow-left.svg') center / cover no-repeat;
    }

    .pager-next a {
      background: transparent url('../images/arrow-right.svg') center / cover no-repeat;

    }
  }
}
