/* Animations */
.view-stories {
  /* Make sure text boxes stay on top */
  .views-field:last-of-type { z-index: 1; }

  /* Left Side Boxes Initial State */
  .views-row:nth-of-type(odd) .views-field:last-of-type,
  .views-row:nth-of-type(even) .views-field:first-of-type {
    opacity: 0;
    -webkit-transition: all $animation-timing linear;
    -o-transition: all $animation-timing linear;
    transition: all $animation-timing linear;
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
  }
  /* Right Side Boxes Initial State */

  .views-row:nth-of-type(odd) .views-field:first-of-type,
  .views-row:nth-of-type(even) .views-field:last-of-type {
    opacity: 0;
    -webkit-transition: all $animation-timing linear;
    -o-transition: all $animation-timing linear;
    transition: all $animation-timing linear;
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);

  }
  /* Both sides end in the middle */
  .views-row:nth-of-type(odd) .views-field:last-of-type.in-view,
  .views-row:nth-of-type(even) .views-field:first-of-type.in-view,
  .views-row:nth-of-type(odd) .views-field:first-of-type.in-view,
  .views-row:nth-of-type(even) .views-field:last-of-type.in-view {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  /* Text fades in last */
  .views-row {
    span {
      opacity: 0;
      -webkit-transition: all $animation-timing linear $animation-timing;
      -o-transition: all $animation-timing linear $animation-timing;
      transition: all $animation-timing linear $animation-timing;
    }

    .in-view span {
      opacity: 1;
    }
  }
}
