.view-id-student_ambassadors {
  $views-row-padding: 2em;

  @include clearfix;
  padding-bottom: $views-row-padding;
  text-align: center;

  .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .views-row {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: $views-row-padding;
    width: 100%;
    min-height: 550px;

    @include breakpoint($display-medium) {
      width: 100 / 2 * 1%;
    }

    @include breakpoint($display-large) {
      width: 100 / 3 * 1%;
    }
  }

  .views-field-field-student-ambassador-photo {
    line-height: 0;

    .field-content {
      margin: 0 auto;
    }
  }
	
  .views-field-field-student-ambassador-name {
    font-size: 22px;
    font-weight: normal;
	line-height: 1.5;
    margin: .25em 0 .25em 0;
    text-transform: none;
	color: #003f87;
  }
	
  .views-label {
	display: inline !important;
    font-size: 16px;
    font-weight: bold;
	line-height: 1.5;
    margin: .25em 0 .25em 0;
    text-transform: none;
  }
		
  .views-field-field-major,
  .views-field-field-amb-tenure,
  .views-field-field-ambassador-hometown {
	  
    .field-content {
      display: inline !important;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      margin: .25em 0 .25em 0;
      text-transform: none;
    }
  }	
}



