.view-we-are-vikings {
  display: block;

  .view-header {
    margin: .5em 0 2.5em;

    *:last-child {
      margin-bottom: 0;
    }
  }

  .view-content {
    margin: 0;
    max-width: unset;
  }

  .views-row:not(:last-child) {
    margin: 0 0 1.5em;
  }
}
