.wwu-flex-container-two-column-40-40,
.wwu-flex-container-two-column-55-40 {	
  display: flex;
  flex-direction: column;

  .first-flex-item,
  .second-flex-item	{
    padding: 5px;
    margin-top: 20px;
  }
}

.wwu-flex-container-two-column-40-40 {	
		
    @include breakpoint($display-large) {
      flex-flow: row wrap;
	  justify-content: space-around;

    .first-flex-item,
    .second-flex-item {
      flex-basis: 40%;
    }
  }
}

.wwu-flex-container-two-column-55-40 {	
		
    @include breakpoint($display-large + 350px) {
      flex-flow: row wrap;
	  justify-content: space-around;

    .first-flex-item {
      flex-basis: 55%;
    }
	
    .second-flex-item {
      flex-basis: 40%;
    }
  }
}
