.content blockquote,
.content article blockquote {
  background: #f7f7f7;
  box-sizing: border-box;
  font-family: $serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
  line-height: 2em;
  margin: 2em 0;
  max-width: none;

  @include breakpoint($display-large) {
    float: left;
    margin-right: 2em;
    max-width: 50%;
    padding: 2em 3em;
  }

  @include breakpoint($max-content-width + 200px) {
    margin-left: -5em;
  }
}
