main a {
	color: #003f87;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #003f87;
    background-color: transparent;
    text-decoration: none;
  }

  &:focus {
    border: solid 1px $wwu-light-blue;
  }
}
