.node-action {
  height: 100%;
  position: relative;

  h2 {
    color: #fff;
    font-size: 175%;
    text-align: center;
    text-transform: uppercase;

    a {
      color: #fff;
    }
  }

  h2::after {
    background-color: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: .5em auto;
    width: 100 / 6 * 1%;
  }

  .field-name-field-photo {
    @include absolute-align-y;
    line-height: 0;
    margin: 0;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: unset;
      width: calc(100% + 1px);
    }
  }

  .action-content {
    padding: 2em 0;
    position: relative;
    width: 100%;
  }

  .field-name-body {
    color: #fff;
    margin: 0 0 1.5em;
    padding: 0 10%;
    text-align: center;
  }

  .field-name-field-link {
    a {
      @include button;
      display: table;
      margin: 0 auto;
      text-align: center;
      width: auto;

      @include breakpoint($display-large) {
        padding: 1em 2em;
      }
    }
  }
}
