.node-event.node-teaser {
  $caret-size: 25px;
  $title-opacity: .8;
  $image-hover-opacity: .5;
  $transition-time: .5s;

  line-height: 0;
  position: relative;

  .field,
  .field div {
    display: inline;
    margin: 0;
  }

  a {
    @include clearfix;
    display: block;

    .event-bottom-bar,
    .event-title {
      transition: color $transition-time;
    }

    img {
      transition: opacity $transition-time;
    }
  }

  a:hover,
  a:focus {
    .event-bottom-bar,
    .event-title {
      color: $wwu-light-blue;
    }

    img {
      opacity: $image-hover-opacity;
    }
  }

  img {
    width: 100%;
  }

  .event-bottom-bar {
    background: rgba(255, 255, 255, $title-opacity);
    bottom: 0;
    box-sizing: border-box;
    color: $wwu-blue;
    line-height: 1.5;
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 100%;

    &::before {
      border: solid $caret-size transparent;
      border-bottom-color: rgba(255, 255, 255, $title-opacity);
      border-top: 0;
      content: '';
      height: 0;
      left: 50%;
      margin: 0 0 0 -1 * $caret-size;
      position: absolute;
      top: -$caret-size;
      width: 0;
    }
  }

  .event-title {
    line-height: 1.1em;
    margin: 0 0 .5em;
    padding: 0 .5em;
    text-transform: uppercase;
  }

  .event-location-date {
    display: table;
    margin: 0 auto;
  }

  .event-location,
  .event-date {
    display: inline;
    font-size: 120%;
    font-style: italic;
    padding-top: .5em;
  }

  .addressfield-container-inline::after {
    content: none;
  }

  .event-date::before {
    content: '\2022';
    margin: 0 1ex;
  }

  .field-item:not(:last-child) .date-display-end::after {
    content: ', ';
    display: inline;
  }
}

.node-type-event {

  .wwu-65-percent-left-column {
    /* padding-right: 3em; */
  }

  .wwu-35-percent-right-column {
    /* padding-left: 4em; */
  }

  .field-name-field-interior-image {
    margin: 0 0 3em;
  }

  .field-name-field-intro {
    font-size: 130%;
	line-height: 1.4;
  }

  .field-name-field-link {
    border-bottom: 2px solid $event-action-button-bottom-border-color;
    padding: 0 0 1.5em;
    text-align: center;
  }
}
