.node-personnel-contact-information {	
  display: flex;
  flex-direction: column;
  background: rgb(245,245,245);
	
  .field-name-field-personnel-portrait {
    padding: 5px;
    margin-top: 30px;
	text-align: center;
    }

  .field-type-text-with-summary {
    padding: 5px;
    margin: 0px 25px 20px 25px;
    }	
	
    @include breakpoint($display-large) {
		
      display: flex;
      flex-flow: row wrap;
	  justify-content: space-around;

    .field-name-field-personnel-portrait {
      flex-basis: 25%;
      margin-top: 20px;
    }
	
    .field-type-text-with-summary {
      flex-basis: 65%;
      margin-top: 70px;
    }
  }
}
