.node-quotation {
  $quote-stem-dimension: 40px;
  $quote-background-opacity: .9;

  @include clearfix;
  position: relative;

  &::after {
    content: initial;
    display: none;
  }

  .field-name-field-photo {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;

    * {
      @include clearfix;
      display: block;
      height: 100%;
      max-height: unset;
      max-width: unset;
      width: 100%;
    }

    img {
      @include responsive-image-xy;
      @include absolute-align-xy;
    }
  }

  .field-name-body {
    $field-name-body-margin: 3em;

    display: table;
    font-family: $serif;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    margin: $field-name-body-margin auto calc(#{$field-name-body-margin} - #{$quote-stem-dimension});
    width: 80%;

    @include breakpoint($display-large) {
      width: 60%;
    }

    @include breakpoint($max-content-width) {
      width: 40%;
    }

    .field-items {
      display: table-cell;
      vertical-align: middle;
    }

    .field-item {
      opacity: 0;
      -webkit-transition: all ($animation-timing * 2) linear;
      -o-transition: all ($animation-timing * 2) linear;
      transition: all ($animation-timing * 2) linear;
      background: rgba(255, 255, 255, $quote-background-opacity);
      margin-bottom: $quote-stem-dimension;
      padding: 1em;
      position: relative;

      &::after {
        background: transparent url('../images/quote-stem.svg') top left / 100% no-repeat;
        bottom: -1 * $quote-stem-dimension;
        content: '';
        display: block;
        height: $quote-stem-dimension;
        opacity: $quote-background-opacity;
        position: absolute;
        right: 15%;
        width: $quote-stem-dimension;
      }
    }

    .field-item.in-view {
      opacity: 1;
    }

    * {
      margin: 0;
    }
  }

  &.view-mode-node_embed {
    @include fit-display-width;
  }
}
