.node-viking-fact {
  @include clearfix;

  .node-title {
    color: #003f87;
    font-family: $sans-serif;
    font-size: 125%;
    text-transform: uppercase;
  }

  .field:not(:last-of-type) {
    margin-bottom: 1em;
  }

  .field-name-field-photo {
    @include circular-image-container;
    float: left;
    margin-right: 1em;
  }

  .field-name-field-subtitle {
    font-style: italic;
  }
}
