.margin-bottom {
	margin: 0 0 0.5em;
}

.board_photo_margin_top {
	margin: 2em 0 0 0;
}

.no-padding-margin {
	margin: 0 0 0 0;
	padding: 0 0 0 0 !important;
}

.pane-featured-alumni-star-panel-pane-1 {
 overflow-x: hidden;
}


@media only screen and (max-width:  800px ) {
.no-logo main {
    padding-top: 0em;
}
}



/*  CUSTOM  =============================================================================== */

.gridz_center { 
	text-align:center;
}

.gridz_height_500 {
	min-height: 500px; /* adjust this to eliminate breaking */
}

.gridz_height_475 {
	min-height: 475px; /* adjust this to eliminate breaking */
}

.gridz_height_450 {
	min-height: 450px; /* adjust this to eliminate breaking */
}

.gridz_height_425 {
	min-height: 425px; /* adjust this to eliminate breaking */
}

.gridz_height_400 {
	min-height: 400px; /* adjust this to eliminate breaking */
}

.gridz_height_350 {
	min-height: 350px; /* adjust this to eliminate breaking */
}

.gridz_height_300 {
	min-height: 300px; /* adjust this to eliminate breaking */
}

.gridz_height_250 {
	min-height: 250px; /* adjust this to eliminate breaking */
}

.gridz_height_200 {
	min-height: 200px; /* adjust this to eliminate breaking */
}

.gridz_group_1140 {
	margin: 0 auto;
    max-width: 1140px !important;/* For IE 6/7 (trigger hasLayout) */
}


/*  SECTIONS  ============================================================================= */

.gridz_section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.gridz_group:before,
.gridz_group:after {
    content:"";
    display:table;
}
.gridz_group:after {
    clear:both;
}
.gridz_group {
    zoom:1;
	margin: 0 auto;
    max-width: 1140px;/* For IE 6/7 (trigger hasLayout) */
}


/*  GRID COLUMN SETUP   =================================================================== */

.gridz_col {
	display: block;
	float: left;
	margin-top: 1%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 1%;
}

.gridz_col img {
	width: 80%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

 /*.gridz_col:first-child { margin-left: 0; } all browsers except IE6 and lower */


/*  GRID OF TWELVE   ====================================================================== */

.gridz_12_of_12 {
	width: 100%;
}

.gridz_11_of_12 {
	width: 91.53%;
}

.gridz_10_of_12 {
	width: 83.06%;
}

.gridz_9_of_12 {
	width: 74.6%;
}

.gridz_8_of_12 {
	width: 66.13%;
}

.gridz_7_of_12 {
	width: 57.66%; 
}

.gridz_6_of_12 {
	width: 49.2%; 
}

.gridz_5_of_12 {
	width: 40.73%; 
}

.gridz_4_of_12 {
	width: 32.26%; 
}

.gridz_3_of_12 {
	width: 23.8%;
}

.gridz_2_of_12 {
	width: 15.33%; 
}

.gridz_1_of_12 {
	width: 5.3%; 
}



/*  GRID OF ELEVEN   ============================================================================= */

.gridz_11_of_11 {
	width: 100%;
}

.gridz_10_of_11 {
	width: 90.76%;
}

.gridz_9_of_11 {
	width: 81.52%;
}

.gridz_8_of_11 {
	width: 72.29%;
}

.gridz_7_of_11 {
	width: 63.05%; 
}

.gridz_6_of_11 {
	width: 53.81%; 
}

.gridz_5_of_11 {
	width: 44.58%; 
}

.gridz_4_of_11 {
	width: 35.34%; 
}

.gridz_3_of_11 {
	width: 26.1%;
}

.gridz_2_of_11 {
	width: 16.87%; 
}

.gridz_1_of_11 {
	width: 6%; 
}



/*  GRID OF TEN   ============================================================================= */


.gridz_10_of_10 {
	width: 100%;
}

.gridz_9_of_10 {
	width: 89.84%;
}

.gridz_8_of_10 {
	width: 79.68%;
}

.gridz_7_of_10 {
	width: 69.52%; 
}

.gridz_6_of_10 {
	width: 59.36%; 
}

.gridz_5_of_10 {
	width: 49.2%; 
}

.gridz_4_of_10 {
	width: 39.04%; 
}

.gridz_3_of_10 {
	width: 28.88%;
}

.gridz_2_of_10 {
	width: 18.72%; 
}

.gridz_1_of_10 {
	width: 7%; 
}



/*  GRID OF NINE   ============================================================================= */


.gridz_9_of_9 {
	width: 100%;
}

.gridz_8_of_9 {
	width: 88.71%;
}

.gridz_7_of_9 {
	width: 77.42%; 
}

.gridz_6_of_9 {
	width: 66.13%; 
}

.gridz_5_of_9 {
	width: 54.84%; 
}

.gridz_4_of_9 {
	width: 43.55%; 
}

.gridz_3_of_9 {
	width: 32.26%;
}

.gridz_2_of_9 {
	width: 20.97%; 
}

.gridz_1_of_9 {
	width: 8%; 
}



/*  GRID OF EIGHT   ============================================================================= */

.gridz_8_of_8 {
	width: 100%;
}

.gridz_7_of_8 {
	width: 87.3%; 
}

.gridz_6_of_8 {
	width: 74.6%; 
}

.gridz_5_of_8 {
	width: 61.9%; 
}

.gridz_4_of_8 {
	width: 49.2%; 
}

.gridz_3_of_8 {
	width: 36.5%;
}

.gridz_2_of_8 {
	width: 23.8%; 
}

.gridz_1_of_8 {
	width: 9.5%; 
}



/*  GRID OF SEVEN   ============================================================================= */

.gridz_7_of_7 {
	width: 100%;
}

.gridz_6_of_7 {
	width: 85.48%;
}

.gridz_5_of_7 {
  	width: 70.97%;
}

.gridz_4_of_7 {
  	width: 56.45%;
}

.gridz_3_of_7 {
  	width: 41.94%;
}

.gridz_2_of_7 {
  	width: 27.42%;
}

.gridz_1_of_7 {
  	width: 11%;
}



/*  GRID OF SIX   ============================================================================= */

.gridz_6_of_6 {
	width: 100%;
}

.gridz_5_of_6 {
  	width: 83.06%;
}

.gridz_4_of_6 {
  	width: 66.13%;
}

.gridz_3_of_6 {
  	width: 49.2%;
}

.gridz_2_of_6 {
  	width: 32.26%;
}

.gridz_1_of_6 {
  	width: 13.5%;
}



/*  GRID OF FIVE   ============================================================================= */

.gridz_5_of_5 {
	width: 100%;
}

.gridz_4_of_5 {
  	width: 79.68%; 
}

.gridz_3_of_5 {
  	width: 59.36%; 
}

.gridz_2_of_5 {
  	width: 39.04%;
}

.gridz_1_of_5 {
  	width: 17%;
}



/*  GRID OF FOUR   ============================================================================= */
	
.gridz_4_of_4 {
	width: 97%; 
}

.gridz_3_of_4 {
	width: 70%; 
}

.gridz_2_of_4 {
	width: 47%; 
}

.gridz_1_of_4 {
	width: 22%;

}



/*  GRID OF THREE   ============================================================================= */
	
.gridz_3_of_3 {
	width: 100%; 
}

.gridz_2_of_3 {
	width: 66.13%; 
}

.gridz_1_of_3 {
	width: 30%; 
}



/*  GRID OF TWO   ============================================================================= */

.gridz_2_of_2 {
	width: 100%;
}

.gridz_1_of_2 {
	width: 47%;
}

/*  GO FULL WIDTH AT LESS THAN 800 PIXELS   ====================================================== */
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS   ====================================================== */
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS   ====================================================== */

@media only screen and (max-width: 800px) {
	.col { 
		margin: 1% 0 1% 0%;
	}

/*  GRID OF TWELVE   ============================================================================= */

	.gridz_1_of_12 {
		width: 17%; 
	}
	
	
/*  GRID OF ELEVEN   ============================================================================= */

	.gridz_1_of_11 {
		width: 17%; 
	}
	
	
/*  GRID OF TEN   ============================================================================= */
	
	.gridz_1_of_10 {
		width: 17%; 
	}
	
	
/*  GRID OF NINE   ============================================================================= */

	.gridz_1_of_9 {
		width: 22%; 
	}
	
	
/*  GRID OF EIGHT   ============================================================================= */

	.gridz_1_of_8 {
		width: 22%; 
	}
	
	
	
/*  GRID OF SEVEN   ============================================================================= */

	.gridz_1_of_7 {
		width: 22%; 
	}
	
	
/*  GRID OF SIX   ============================================================================= */

	.gridz_1_of_6 {
		width: 30%; 
	}
	
	
/*  GRID OF FIVE   ============================================================================= */
	
	.gridz_1_of_5 {
		width: 30%; 
	}
	
	
/*  GRID OF FOUR   ============================================================================= */
	
	.gridz_1_of_4 {
		width: 47%; 
	}
		
	
/*  GRID OF THREE   ============================================================================= */
		
	.gridz_1_of_3 {
		width: 47%; 
	}	
	
	
/*  GRID OF TWO   ============================================================================= */


}




/*  GO FULL WIDTH AT LESS THAN 480 PIXELS   ====================================================== */
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS   ====================================================== */
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS   ====================================================== */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}

/*  GRID OF TWELVE   ============================================================================= */

	.gridz_12_of_12 {
		width: 100%; 
	}
	.gridz_11_of_12 {
		width: 100%; 
	}
	.gridz_10_of_12 {
		width: 100%; 
	}
	.gridz_9_of_12 {
		width: 100%; 
	}
	.gridz_8_of_12 {
		width: 100%; 
	}
	.gridz_7_of_12 {
		width: 100%; 
	}
	.gridz_6_of_12 {
		width: 100%; 
	}
	.gridz_5_of_12 {
		width: 100%; 
	}
	.gridz_4_of_12 {
		width: 100%; 
	}
	.gridz_3_of_12 {
		width: 100%; 
	}
	.gridz_2_of_12 {
		width: 100%; 
	}
	.gridz_1_of_12 {
		width: 100%; 
	}
	
	
/*  GRID OF ELEVEN   ============================================================================= */

	.gridz_11_of_11 {
		width: 100%; 
	}
	.gridz_10_of_11 {
		width: 100%; 
	}
	.gridz_9_of_11 {
		width: 100%; 
	}
	.gridz_8_of_11 {
		width: 100%; 
	}
	.gridz_7_of_11 {
		width: 100%; 
	}
	.gridz_6_of_11 {
		width: 100%; 
	}
	.gridz_5_of_11 {
		width: 100%; 
	}
	.gridz_4_of_11 {
		width: 100%; 
	}
	.gridz_3_of_11 {
		width: 100%; 
	}
	.gridz_2_of_11 {
		width: 100%; 
	}
	.gridz_1_of_11 {
		width: 100%; 
	}
	
	
/*  GRID OF TEN   ============================================================================= */
	
	.gridz_10_of_10 {
		width: 100%; 
	}
	.gridz_9_of_10 {
		width: 100%; 
	}
	.gridz_8_of_10 {
		width: 100%; 
	}
	.gridz_7_of_10 {
		width: 100%; 
	}
	.gridz_6_of_10 {
		width: 100%; 
	}
	.gridz_5_of_10 {
		width: 100%; 
	}
	.gridz_4_of_10 {
		width: 100%; 
	}
	.gridz_3_of_10 {
		width: 100%; 
	}
	.gridz_2_of_10 {
		width: 100%; 
	}
	.gridz_1_of_10 {
		width: 100%; 
	}
	
	
/*  GRID OF NINE   ============================================================================= */

	.gridz_9_of_9 {
		width: 100%; 
	}
	.gridz_8_of_9 {
		width: 100%; 
	}
	.gridz_7_of_9 {
		width: 100%; 
	}
	.gridz_6_of_9 {
		width: 100%; 
	}
	.gridz_5_of_9 {
		width: 100%; 
	}
	.gridz_4_of_9 {
		width: 100%; 
	}
	.gridz_3_of_9 {
		width: 100%; 
	}
	.gridz_2_of_9 {
		width: 100%; 
	}
	.gridz_1_of_9 {
		width: 100%; 
	}
	
	
/*  GRID OF EIGHT   ============================================================================= */

	.gridz_8_of_8 {
		width: 100%; 
	}
	.gridz_7_of_8 {
		width: 100%; 
	}
	.gridz_6_of_8 {
		width: 100%; 
	}
	.gridz_5_of_8 {
		width: 100%; 
	}
	.gridz_4_of_8 {
		width: 100%; 
	}
	.gridz_3_of_8 {
		width: 100%; 
	}
	.gridz_2_of_8 {
		width: 100%; 
	}
	.gridz_1_of_8 {
		width: 100%; 
	}
	
	
	
/*  GRID OF SEVEN   ============================================================================= */

	.gridz_7_of_7 {
		width: 100%; 
	}
	.gridz_6_of_7 {
		width: 100%; 
	}
	.gridz_5_of_7 {
		width: 100%; 
	}
	.gridz_4_of_7 {
		width: 100%; 
	}
	.gridz_3_of_7 {
		width: 100%; 
	}
	.gridz_2_of_7 {
		width: 100%; 
	}
	.gridz_1_of_7 {
		width: 100%; 
	}
	
	
/*  GRID OF SIX   ============================================================================= */

	.gridz_6_of_6 {
		width: 100%; 
	}
	.gridz_5_of_6 {
		width: 100%; 
	}
	.gridz_4_of_6 {
		width: 100%; 
	}
	.gridz_3_of_6 {
		width: 100%; 
	}
	.gridz_2_of_6 {
		width: 100%; 
	}
	.gridz_1_of_6 {
		width: 100%; 
	}
	
	
/*  GRID OF FIVE   ============================================================================= */
	
	.gridz_5_of_5 {
		width: 100%; 
	}
	.gridz_4_of_5 {
		width: 100%; 
	}
	.gridz_3_of_5 {
		width: 100%; 
	}
	.gridz_2_of_5 {
		width: 100%; 
	}
	.gridz_1_of_5 {
		width: 100%; 
	}
	
	
/*  GRID OF FOUR   ============================================================================= */
	
	.gridz_4_of_4 {
		width: 100%; 
	}
	.gridz_3_of_4 {
		width: 100%; 
	}
	.gridz_2_of_4 {
		width: 100%; 
	}
	.gridz_1_of_4 {
		width: 100%; 
	}
		
	
/*  GRID OF THREE   ============================================================================= */

	.gridz_3_of_3 {
		width: 100%; 
	}
	.gridz_2_of_3 {
		width: 100%; 
	}
	.gridz_1_of_3 {
		width: 100%;
	}
		
	
/*  GRID OF TWO   ============================================================================= */

	.gridz_2_of_2 {
		width: 100%; 
	}
	.gridz_1_of_2 {
		width: 100%; 
	}
	.gridz_1_of_12 {
		width: 100%; 
	}
	
}




/*  BENEFITS PAGE TAB SYSTEM   ============================================================================= */
.titlez{
	background: #63c2ff;
	height: 35px;
	align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.grayz{
	background:#F9F9F9;
}

.centerz {
  margin: auto;
  width: 25%;
}

.joinz {
	position: absolute;
    top: 1320px;
	max-width: 1140px;

}

@media only screen and (max-width:  800px ) {

.joinz {position: absolute;
	top: 1650px;}
}


@media only screen and (max-width:  789px ) {

.joinz {position: absolute;
	top: 1870px;}
}

@media only screen and (max-width:  480px ) {

.joinz {position: absolute;
	top: 2250px;}
}





ul.tabz {
    padding-inline-start: 0px;
}

.tabz .ztab{
    float: left;
	display: flex;
}

.tabz .ztab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
	
}

.tabz input:checked ~ .tabz-content {
	max-height: 200em;
}

.tabz input[type=radio]+label::after {
    content: none;
}

.tabz .ztab>label {
    /*display: block;*/
	margin: 0px 5px 0px 5px;
    padding: 15px 10px 10px 10px;
    text-transform: uppercase;
	text-align: center;
    cursor: pointer;
    position: relative;
    color: #333;
    background: #f0f0f0;
	justify-content: space-around;
    display: -webkit-flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.tabz .tabz-content {
    z-index: 0;/* or display: none; */
	overflow: visible;
    padding: 25px 0px 25px 0px;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
    position: absolute;
    top: 73px;
    left: 0;
    opacity:0;
	background: none;
    transition: opacity 400ms ease-out;
	border-top-color: #f0f0f0;
	border-top-width: medium;
	border-top-style: solid;
	border-bottom: none;
}

.tabz>.ztab>[id^="ztab"]:checked + label {
    top: 0;
    background: #002f5e;
    color: #F5F5F5;
	border-bottom-color: #002f5e;
	border-bottom-width: medium;
	border-bottom-style: solid;
	z-index: 2;
}

.tabz>.ztab>[id^="ztab"]:checked ~ [id^="tabz-content"] {
    z-index: 1;/* or display: block; */
    opacity: 1;
    transition: opacity 400ms ease-out;	
}

.tabz{
    display: block;
    position: relative;
	overflow: visible;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media (max-width: 790px) {
.centerz {
  margin: auto;
  width: 100%;
}
	
.tabz .ztab{
    float: none;
    display: flex;
	align-items: baseline;
	justify-content: space-around;
}
	
.tabz .ztab>label {
	width: 100%;
	margin: 1px 5px 1px 5px;
}
	
.tabz .tabz-content {
    top: 284px;
	background: none;
	border-top-style: none;
}
	
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\  CUSTOM TABLES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.join .tabContainer {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
}
.join .tabContainer .tab_content {
  display: none;
  clear: both;
  float: left;
  width: 100%;
}
.join .tabContainer .tab_content .tabHeading {
  text-align: center;
}
.join .tabContainer .tab_content .tabHeading p{
  margin:1.65em 0;
}
.join .tabContainer .tab_content .levelOuter {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  width: 100%;
  -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          flex-direction: row;
          -webkit-flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center;
}
.join .rightTabs .tab_contentR .compareTable {
  clear: both;
  float: left;
  width: 100%;
}
.join .rightTabs .tab_contentR .compareTable .colWidth {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
}
.join .rightTabs .tab_contentR .compareTable .colWidth .leftTabCol {
  -ms-flex: 1 0 72%;
      -webkit-box-flex: 1;
          flex: 1 0 72%;
          -webkit-flex: 1 0 72%;
  max-width: 72%;
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .join .rightTabs .tab_contentR .compareTable .colWidth .leftTabCol {
    -ms-flex: 1 0 60%;
        -webkit-box-flex: 1;
            flex: 1 0 60%;
            -webkit-flex: 1 0 60%!important;
    max-width: 60%;
  }
}
@media only screen and (max-width:  699px ) {
  .join .rightTabs .tab_contentR .compareTable .colWidth .leftTabCol {
    -ms-flex: 1 0 50%;
        -webkit-box-flex: 1;
            flex: 1 0 50%;
            -webkit-flex: 1 0 50%;
    max-width: 50%;
  }
}
.join .rightTabs .tab_contentR .compareTable .colWidth .rightTabCol {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  -ms-flex: 1 0 28%;
      -webkit-box-flex: 1;
          flex: 1 0 28%;
          -webkit-flex: 1 0 28%;
  max-width: 28%;
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .join .rightTabs .tab_contentR .compareTable .colWidth .rightTabCol {
    -ms-flex: 1 0 40%;
        -webkit-box-flex: 1;
            flex: 1 0 40%;
            -webkit-flex: 1 0 40%!important;
    max-width: 40%;
  }
}
@media only screen and (max-width:  699px ) {
  .join .rightTabs .tab_contentR .compareTable .colWidth .rightTabCol {
    -ms-flex: 1 0 50%;
        -webkit-box-flex: 1;
            flex: 1 0 50%;
            -webkit-flex: 1 0 50%;
    max-width: 50%;
  }
}
.join .rightTabs .tab_contentR .compareTable .headerRow {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  -ms-flex-pack: end;
      -webkit-box-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.join .rightTabs .tab_contentR .compareTable .headerRow .leftTabCol {
  -ms-flex: 1 0 50%;
      -webkit-box-flex: 1;
          flex: 1 0 50%;
          -webkit-flex: 1 0 50%;
  max-width: 50%;
}
@media only screen and (max-width:  699px ) {
  .join .rightTabs .tab_contentR .compareTable .headerRow .rightTabCol {
    -ms-flex: 1 0 50%;
        -webkit-box-flex: 1;
            flex: 1 0 50%;
            -webkit-flex: 1 0 50%;
    max-width: 50%;
  }
}
.join .rightTabs .tab_contentR .compareTable .headerRow .planLevel {
  width: 100%;
  text-align: center;
  color: #003f87;
  font-weight: 400;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.05;
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.join .rightTabs .tab_contentR .compareTable .headerRow .planLevel > div {
  width: 20%;
  float: left;
  text-transform: uppercase;
}
@media only screen and (max-width:  699px ) {
  .join .rightTabs .tab_contentR .compareTable .headerRow .planLevel {
    font-size: 0.65em;
  }
}
.join .rightTabs .tab_contentR .compareTable .infoRows .innerRow {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  background: #fff;
  padding: 5px 0 5px 15px;
}
.join .rightTabs .tab_contentR .compareTable .infoRows .innerRow .title {
  font-size: 14px;
}
.join .rightTabs .tab_contentR .compareTable .infoRows .innerRow .options {
  display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
  display: -webkit-flex;
  text-transform: uppercase;
  font-size: 16px;
}
.join .rightTabs .tab_contentR .compareTable .infoRows .innerRow .options > div {
  -ms-flex: 1 0 20%;
      -webkit-box-flex: 1;
          flex: 1 0 20%;
          -webkit-flex: 1 0 20%;
  text-align: center;
}
.join .rightTabs .tab_contentR .compareTable .infoRows .innerRow:nth-child(odd) {
  background: #e7e7e8;
}