.gridz_group_770 {
	margin: 0 auto;
    max-width: 770px !important;/* For IE 6/7 (trigger hasLayout) */
}

.gridz_group_full {
	margin: 0 auto;
    max-width: 100% !important;/* For IE 6/7 (trigger hasLayout) */
}




.node-page-wwu-alumni-weekend-header {
  @include fit-display-width;
	background: transparent url('http://alumni.wwu.edu/files/Events-2019/banner-desktop-paint.png') center top no-repeat;
	


	.node {
	margin-bottom: 0 !important;
}

.pane-title {
	margin: 0 !important;
}
	
		img {
			width: 100% !important; 
			display: block;
			margin-left: auto;
    		margin-right: auto;
			padding-top: 270px;
}
}




@media only screen and (max-width:  800px ) {
.node-page-wwu-alumni-weekend-header {
  @include fit-display-width;
	background: transparent url('http://alumni.wwu.edu/files/Events-2019/banner-mobile-paint.png') center top / cover no-repeat;
	padding-top: 300px;

	.node {
	margin-bottom: 0 !important;
}

.pane-title {
	margin: 0 !important;
}
	
		img {
			width: 100% !important; 
			display: block;
			margin-left: auto;
    		margin-right: auto;
			padding-top: 270px;
}
}
}


.node-page-wwu-alumni-weekend-icons {
  @include fit-display-width;
	background-color: #003F87;
	border-bottom: 8px solid #007AC8;
	color: #fff;

	
	.node {
	margin-bottom: 0 !important;
		}
	
.pane-title {
	margin: 0 !important;
}
	h2 {
		color: #BAD80A;
	}
	img {
	width: 50% !important; 
	display: block;
	margin-left: auto;
    margin-right: auto;
}
}




.node-page-wwu-alumni-weekend-find-your-reunion {
  @include fit-display-width;
	background-color: #003F87;
	color: #fff;
	
	button, input, select, textarea {
		width: 95%;
		background-color: #003f87;
		color: #BAD80A;
		height: 50px;
		border-radius: 10px;
		border: 2px solid #FFF;
		padding: 10px;
		font-family: "Open Sans",sans-serif;
	}

	
	.node {
	margin-bottom: 0 !important;
		}
	
.pane-title {
	margin: 0 !important;
}
	h2 {
		color: #BAD80A;
	}
	h4 {
		color: #BAD80A !important;
		margin: 0 !important;
	}

}


.node-page-wwu-alumni-weekend-photo-wrap-01 {
  @include fit-display-width;
	background: transparent url('http://alumni.wwu.edu/files/Events-2019/photowrap.jpg') center no-repeat;

	.node {
	margin-bottom: 0 !important;
}
	
.pane-title {
	margin: 0 !important;
	}
}

.node-page-wwu-alumni-weekend-photo-wrap-02 {
  @include fit-display-width;
	background: transparent url('http://alumni.wwu.edu/files/Events-2019/photowrap1.jpg') center no-repeat;

	.node {
	margin-bottom: 0 !important;
}
	
.pane-title {
	margin: 0 !important;
	}
}

.node-page-wwu-alumni-weekend-photo-wrap-03 {
  @include fit-display-width;
	background: transparent url('http://alumni.wwu.edu/files/Events-2019/photowrap2.jpg') center no-repeat;

	.node {
	margin-bottom: 0 !important;
}
	
.pane-title {
	margin: 0 !important;
	}
}


.node-page-wwu-alumni-weekend-date-location {
  @include fit-display-width;
	background-color: #f4f4f4;
	border-bottom: 8px solid #003f87;

.pane-title {
	margin: 0 !important;
}
}


.node-page-wwu-alumni-weekend-register {
  @include fit-display-width;
	background: transparent url('../images/wwualumni-texture.png') center / cover no-repeat;


	.node {
	margin-bottom: 0 !important;
}

.pane-title {
	margin: 0 !important;
}
}


.node-page-wwu-alumni-weekend-register1 {

	.node {
	margin-bottom: 0 !important;
}

.pane-title {
	margin: 0 !important;
}
}




.node-page-wwu-alumni-weekend-stay {
  @include fit-display-width;
	background: transparent url('../images/wwualumni-texture.png') center / cover no-repeat;


	.node {
	margin-bottom: 0 !important;
}

.pane-title {
	margin: 0 !important;
}
}

.node-page-wwu-alumni-weekend-bellingham {
	@include fit-display-width;
	
	.gridz_col {
	display: block;
	float: left;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
		.node {
	margin-bottom: 0 !important;
}
.gridz_1_of_2 {
	width: 50% !important;
}
	@media only screen and (max-width: 900px) {
		.gridz_1_of_2 {
	width: 100% !important;
}
	}
	h2 {
		color: #FFFFFF;
	}
}





/* STYLE FOR POPUP */
/* STYLE FOR POPUP */
/* STYLE FOR POPUP */
/* STYLE FOR POPUP */
/* STYLE FOR POPUP */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 200px auto 0px auto;
    padding: 20px;
    background: #003f87;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    width: 80%;
    width: 460px;
    position: relative;
    transition: all 5s ease-in-out;

h3 {
    margin-top: 0;
	margin-bottom: 0;
    color: #BAD80A;
	font-size: 19px;
}
p {
    margin-top: 0;
    color: #ffffff;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.close:hover {
    color: #0083d6;
	}
}

@media screen and (max-width: 700px) {
.box {
    width: 70%;
}
.popup {
    width: 70%;
}
}
/* STYLE FOR POPUP END */
/* STYLE FOR POPUP END */
/* STYLE FOR POPUP END */
/* STYLE FOR POPUP END */
/* STYLE FOR POPUP END */

/* Accordion styles */
/* Accordion styles */
/* Accordion styles */
/* Accordion styles */
/* Accordion styles */
.tabz {
    position: relative;
    margin-bottom: 10px;
	margin-top: 10px;
    width: 100%;
    color: #4A4A4A;
    overflow: hidden;

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: block;
    padding: 0 1em 0 1em;
    background: #fff;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    color: #003F87;
}
input:checked ~ .tabz-content {
    max-height: 30em;
}
label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
input[type=checkbox] + label::after {
    content: "+";
}
input[type=radio] + label::after {
    content: "\25BC";
}
input[type=checkbox]:checked + label::after {
    transform: rotate(270deg);
    color: #BAD80A;
}
input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}
	}
.tabz-content {
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    border-bottom: 1px solid #9a9a9a;

p {
    margin: 1em !important;
}
}
/* Accordion styles END */
/* Accordion styles END */
/* Accordion styles END */
/* Accordion styles END */
/* Accordion styles END */
