.newsletter-form {
  background: transparent url('../images/newsletter-background.png') center / cover no-repeat;
  padding: 3em;

  form {
    @include center-content($max-content-width);
  }

  form > div {
    @include breakpoint($display-large) {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  h2 {
    background: transparent url('../images/icon-newsletter.svg') left center / 5em no-repeat;
    color: #000;
    display: table;
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 0 auto 1.5em;
    padding-left: 6em;
    text-align: left;
    text-transform: uppercase;

    @include breakpoint($display-medium) {
      font-size: 128%;
    }

    span {
      font-size: 175%;
    }
  }

  .form-item,
  .form-actions {
    display: block;
    margin: 0 auto;

    @include breakpoint($display-large) {
      margin: 0;
    }
  }

  .form-item {
    box-sizing: border-box;
    margin: 0 0 1.5em;

    @include breakpoint($display-medium - 100px) {
      width: 60%;
    }

    @include breakpoint($display-large) {
      margin: 0 1.5em 0 0;
      width: 25%;
    }

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .form-actions input {
    display: block;
    margin: 0 auto;
  }
}

.page-node .newsletter-form {
  @include fit-display-width;
}
