.section-programs-benefits {

  .node-title {
    @extend %pane-title;
    margin: 0;
  }

  .panel-pane .node {
    margin-bottom: 0;
    padding: 2em 0;

    .field {
      @include center-content($max-content-width);
    }
  }

  .panel-pane .panel-pane {
    padding: 2em 0;
  }

  .panel-pane .pane-title {
    margin: 0;
  }
}
