$gray-border: solid 1px #e9e9e9;
$dark-blue-shadow: transparentize($wwu-blue, .4);

@include breakpoint($display-large) {
  .western-header {
    .western-search {
      .western-search-widget {
        top: 0px;
        right: 44px;
        height: 44px;
        width: 380px;
        border-left: $gray-border;

        input {
          margin: 0;
          padding: 8px;
          color: $wwu-black;
          border-right: $gray-border;
          border-bottom: none;
        }

        .form-item {
          margin: 0;
          border-bottom: $gray-border;

          &.form-type-textfield {
            .form-text {
              height: 43px;

              &:focus, &:active {
                box-shadow: 0 1px 1px 1px $dark-blue-shadow;
              }
            }
          }
        }

        .form-type-checkbox {
          display: inline-block;
          position: absolute;
          height: 38px;
          top: 6px;
          box-sizing: border-box;
          padding-left: 5px;
          width: 32%;

          label {
            color: $wwu-black;
          }

          input[type="checkbox"] {
            &:focus, &:active {
              box-shadow: 0 1px 2px 1px $dark-blue-shadow;
            }
          }
        }

        .form-submit {
          height: 44px;
          color: white;
          border: 2px solid transparent;

          &:focus, &:active {
            border: 2px dotted;
          }
        }
      }
    }
  }
}
