.wwu-img-caption-aside {
  margin-bottom: 1em;

  &[style*="float:left"],
  &[style*="float: left"] {
    @include breakpoint($display-small + 100px) {
      margin-right: 1em;
    }
  }

  &[style*="float:right"],
  &[style*="float: right"] {
    @include breakpoint($display-small + 100px) {
      margin-left: 1em;
    }
  }

  .wwu-img-caption-figure {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    img {
      display: block;
    }

    .wwu-img-caption-figcaption {
      background: $wwu-blue;
      clear: both;
      color: #fff;
      margin: 0;
      padding: 1em;
    }
  }
}
