.wwu-img-travel {

    .wwu-img-travel-description {
      background: rgba(255, 255, 255, 0.87);
      color: #555;
      line-height: 1.25;
      padding: .75em 0;
	  margin: -100px 0 0 0;
      position: absolute;
      text-align: center;
      width: 100%;
	  font-size: 18px;
	  font-style: italic;
		
    @include breakpoint($display-large) {
      padding: 1em 0;
	  margin: -125px 0 0 0;
	  font-size: 22px;
    }
    }
}
