.wwu-aligned-img-margin {
  margin-bottom: 1em;

  &[style*="float:left"],
  &[style*="float: left"] {
    @include breakpoint($display-small) {
      margin-right: 2em;
    }
  }

  &[style*="float:right"],
  &[style*="float: right"] {
    @include breakpoint($display-small) {
      margin-left: 2em;
    }
  }
}
