.page {
  max-width: none;
}

body {
  background: #fff;
}

main {
  background: #fff;
  font-family: $sans-serif;
  margin: 0;
}

.content {
  p {
    margin: 0 0 1.5em;
  }

  p:last-child {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  line-height: 1.3;
  margin: 0 0 1.5rem;
}

.field-item {
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  line-height: 1.3;
  margin: 0 0 0 0;
}
	
}

.views-responsive-grid .views-row {
  display: block;
}

.wwu-100-percent-top {
  padding: 0;
}

.wwu-65-percent-left-column {
  padding-left: 0;
}

.wwu-35-percent-right-column {
  padding-right: 0;
}

.western-header .western-logo a {
  margin-bottom: 0;
}
