@mixin absolute-align-x {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@mixin absolute-align-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-align-xy {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
