@mixin button(
  $background-color: $wwu-lime,
  $color: $wwu-blue,
  $hover-background-color: $wwu-blue,
  $hover-color: #fff,
  $active-background-color: $wwu-light-blue,
  $active-color: #fff
) {
  background-color: $background-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: $color;
  display: inline-block;
  padding: 1em 4em;
  text-transform: uppercase;
  transition: all .5s;

  @include breakpoint($display-medium) {
    padding: 1em 6em;
  }

  &:hover,
  &:focus {
    background-color: $hover-background-color;
    border: 0;
    box-shadow: none;
    color: $hover-color;
    text-decoration: none;
  }

  &:active {
    background-color: $active-background-color;
    color: $active-color;
    text-decoration: none;
  }
}
