@mixin fit-display-width {
  box-sizing: border-box;
  margin-left: -1 * $main-horizontal-padding;
  margin-right: 0;
  width: 100vw;

  @include breakpoint($display-large) {
    margin-left: -1 * $main-horizontal-padding-display-large;
  }

  @include breakpoint($max-content-width + (2 * $main-horizontal-padding-display-large)) {
    margin-left: calc(calc(100vw - #{$max-content-width}) / -2);
  }
}
