@mixin margin-align-x {
  margin-left: 50%;
  transform: translateX(-50%);
}

@mixin margin-align-y {
  margin-top: 50%;
  transform: translateY(-50%);
}

@mixin margin-align-xy {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}
