@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Font Family Variables */
$serif: Garamond, 'Cormorant Garamond', Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$sans-serif: 'Open Sans', sans-serif;

/* Font Weight Variables */
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$normal: 400;
$light: 300;
